IG_ACCESS_TOKEN=你的IG_ACCESS_TOKEN
IG_ACCOUNT_ID=你的IG_ACCOUNT_ID
IG_USER_ID=你的IG_USER_ID
MINIMAX_API_KEY=你的MINIMAX_API_KEY
PASSWORD=你的密碼
THREADS_ACCESS_TOKEN=你的THREADS_ACCESS_TOKEN
THREADS_USER_ID=你的THREADS_USER_ID
CLOUDINARY_CLOUD_NAME=dvtoqjedb
CLOUDINARY_API_KEY=132394465451299
CLOUDINARY_API_SECRET=bOieo35VxsC4XdKZoBB10pngmK0
