# 環境變數範例
# 複製此檔案為 .env 並填入你的資訊

# Instagram/Threads 帳號
IG_USERNAME=waterboy_rix
IG_PASSWORD=你的Instagram密碼

# Twitter API 憑證
# 前往 https://developer.twitter.com/ 申請
TW_API_KEY=你的API_Key
TW_API_SECRET=你的API_Secret
TW_ACCESS_TOKEN=你的Access_Token
TW_ACCESS_SECRET=你的Access_Token_Secret

# 推廣連結
PROMOTION_LINK=https://rggo5269.com/#/ag/win99
